.box {
  text-align: center;
}

.h1 {
  margin: 0;
  font-size: 45px;
  /* color: white; */
  color: transparent;
  text-shadow: 0 2px 3px rgba(74, 74, 74, 0.75);
  background-color: #040404;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}
.img {
  width: 500px;
  display: block;
  margin: 0 auto;
  opacity: 0.5;
}
